{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended"],
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "react/react-in-jsx-scope": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": "off",
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignorePattern": "^\\s*\\.dependencies\\(\\'.*\\)\\;$"
    }]
  }
}
