@bg-color: #fafafa;
@font-family: "Roboto", "Helvetica", "Arial", sans-serif;
@line-height: 1.2;
@transition-duration-loader-fade-in-delay: .5s;
@transition-duration-loader-fade-in: .4s;
@transition-duration-loader-fade-out: .2s;
@transition-duration-app-fade-in: .5s;
@transition-speed: .4s;
@loader-size: 60px;
@loader-margin: 20px;
@loader-small-size: 28px;
@form-group-loader-right: 7px;
