@bg-color: #fafafa;
@font-family: "Roboto", "Helvetica", "Arial", sans-serif;
@line-height: 1.2;
@transition-duration-loader-fade-in-delay: .4s;
@transition-duration-loader-fade-in: .1s;
@transition-duration-loader-fade-out: .1s;
@transition-duration-app-fade-in: .5s;
@loader-margin: 20px;
