<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="loading">
  <!--[if lt IE 10]>
    <div class="old-browser">
      <h1><%= htmlWebpackPlugin.options.title %></h1>

      <h2>Your browser is not supported</h2>
    </div>
  <![endif]-->

  <!--[if gte IE 10]><!-->
    <!-- loader -->
    <div class="app-loader">
      <div class="c1">
        <header class="c17 c4 c5 c9 mui-fixed c3">
          <div class="c40 c55 c46 c52">
            <div class="c41">
              <div class="c123 c124">
                <div>
                  <button tabindex="0" class="c136 c127 c129" type="button" role="button" title="App menu">
                <span class="c133">
                  <svg class="c138" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                  </svg>
                </span>
                    <span class="c139"></span>
                  </button>
                </div>
                <a class="c38" href="/">
                  <h2 class="c146 c152 c165"><%= htmlWebpackPlugin.options.title %></h2>
                </a>
              </div>
            </div>
            <div class="c41">
              <div class="c123 c124 c39">
                <div class="c40 c55 c46">
                  <div class="c41"></div>
                  <div class="c41">
                    <div>
                      <button tabindex="0" class="c136 c127 c129" type="button" role="button" title="User menu"
                              aria-owns="user-menu" aria-haspopup="true">
                    <span class="c133">
                      <svg class="c138" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                      </svg>
                    </span>
                        <span class="c139"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="c2">
          <div class='loader-wrapper'>
            <h2>Loading</h2>
            <h3>Please wait ...</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- /loader -->

    <div id="app" class="app"></div>
  <!--<![endif]-->
  <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
              navigator.serviceWorker.register('/worker.js').then(function(registration) {}, function(err) {
                  console.log('SW reg failed: ', err);
              });
          });
      }
  </script>
</body>
</html>
